.footerMenu {
	display: none;
}

@media only screen and (max-width: 900px) {
	.footerMenu {
		display: flex;
		flex-direction: row;
		background: white;
		position: fixed;
		align-items: center;
		justify-content: space-around;
		bottom: 0;
		background-color: white;
		z-index: 700;
		width: 100vw;
	}
}
